@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

html,
body {
  font-family: 'Roboto', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  overflow: hidden;
}

li {
  margin-bottom: 0.5em;
}

form {
  margin: 0 !important;
}

.featurelist li {
  margin-left: 25px;
  list-style: none;
}

.featurelist li:before {
  content: '\2022';
  color: '#000';
  position: relative;
  right: 25px;
}

.featurelist b {
  margin-left: -5px;
}

.mobile-openpositions-bottom {
  display: none;
  text-align: center;
}

.openpositions-bottom {
  display: block;
  text-align: center;
}

@media (max-width: 760px) {
  .emptyLogoSection {
    display: none;
  }
}

@media (max-width: 600px) {
  .featurelist li {
    margin-left: 25px;
    list-style: none;
    line-height: 1.5em;
    font-size: 16px;
    margin-bottom: 25px;
  }

  .openpositions-bottom {
    display: none;
  }

  .mobile-openpositions-bottom {
    display: block;
  }
}


section.home-PersonalInfo div.title_sec {
  padding: 0 20px;
  padding-top: 220px;
  padding-bottom: 140px;
  margin: auto;
  max-width: 1280px;
  width: 100%;
}

.relatedBlogs {
  margin: 0 -15px;
}

@media (max-width: 1350px) {
  section.home-PersonalInfo div.title_sec {
    padding-top: 140px;
    padding-bottom: 100px;
  }


}

@media (max-width: 600px) {
  section.home-PersonalInfo div.title_sec {
    padding-top: 100px;
    padding-bottom: 80px;
    padding-right: 0;
    padding-left: 0;
  }
  .relatedBlogs {
    margin: 0;
  }
}